.seasonImage {
    display: flex;
    width: 210px;
    height: 295px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
}

.container {
    padding-top: 50px;
}

.showInfo {
    padding: 0 0 20px 0;
    color: grey;
}

