.episodeImage {
    display: flex;
    width: 250px;
    height: 140px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
}

.episodeSubtitle{
    color: grey;
}