.searchBar {
    background-color: black;
}

.searchContainer {
    padding: 20px;
}

.searchBoxContainer, .searchButtonContainer{
    margin-bottom: 0px;
    padding-bottom: 9px;
}

.searchBox{
    height: 30px;
}

.appTitle {
    color: white;
}

.searchButton {
    background-color: slategrey;
    border-radius: 2px;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
}